<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


  <appSettings>
    <add key="CountryCodeFile" value="C:\central\project\BoT\BoT.Business\Codes\CountryCode.json"/>
    <add key="CurrencyCodeFile" value="C:\central\project\BoT\BoT.Business\Codes\CurrencyCode.json"/>
    <add key="DocumentTypeCodeFile" value="C:\central\project\BoT\BoT.Business\Codes\DocumentTypeCode.json"/>
    <add key="PaymentInstrumentCodeFile" value="C:\central\project\BoT\BoT.Business\Codes\PaymentInstrumentCode.json"/>
  </appSettings>
  
  
</configuration>